<h1>This is template for all</h1>
<div class="row">
  <div class="col-md-6">
    <form action="/languages" method="POST" enctype="multipart/form-data">

    <form action="/dev" method="POST" enctype="multipart/form-data">
{{!-- for lang --}}
      <div class="form-group">
        <label> Main Language:
          <input class="form-control" type="text" name="lang" placeholder="javascript HTML css python C++ shell SQL">
        </label>
        <i>*required</i>
      </div>
       {{!-- for LANG--}}
      <div class="form-group">
        <label> Language Topic/Library/"Sub-Language":
          <input type="text" name="topic" class="form-control"
            placeholder="objects datatypes sort canvas jquery Django react boost">
        </label>
        {{!-- <p><i>example:
            objects syntax form table canvas component function datatypes hof sort map JSON jquery Django react boost
            bootstrap
            SCSS</i></p> --}}
      </div>
{{!-- for dev --}}
      <div class="form-group">
        <label> Main Topic:
          <input class="form-control" type="text" name="lang" >
        </label>
        <i>*required</i>
      </div>
      {{!-- for DEV --}}
      <div class="form-group">
        <label> Sub Topic:
          <input type="text" name="topic" class="form-control">
        </label>
      </div>
     
      <div class="form-group">
        <label>Resource Title:
          <input type="text" name="title" class="form-control" />
        </label>
      </div>
      <div class="form-group">
        <label> Description/Keywords:
          <textarea class="form-control" name="description" cols="30" rows="4"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label> Webpage Url:
          <input class="form-control" type="text" name="webUrl">
        </label>
      </div>
      <div class="form-group">
        <label> YouTube Url:
          <input class="form-control" type="text" name="vidUrl" placeholder="ex. https://youtu.be/....">
        </label>
        <p>** MAKE SURE LINK IS COPIED FROM SHARE DROPDOWN OPTION NOT! BROWSER**</p>
      </div>
      <div class="form-group">
        <label> Resource Image:
          <input type="file" name="image" class="form-control-file" />
        </label>
      </div>

      {{!-- for LANG --}}
      <div class="form-group">
        <label> Codepen Url:
          <input class="form-control" type="text" name="cpUrl"
            placeholder="... https://codepen.io/<username>/pen/Abc123">
        </label>
      </div>

      <div class="form-group">
        <label> Replit Url:
          <input class="form-control" type="text" name="riUrl">
        </label>
      </div>

      {{!-- for dev --}}
      <div class="form-group">
        <label> GitHub User:
          <input class="form-control" type="text" name="gitUser" placeholder="Username">
        </label>
      </div>

      <div class="form-group">
        <label> GitHub Repo:
          <input class="form-control" type="text" name="gitRepo" placeholder="Username/Repo">
        </label>
      </div>

      {{!-- example how used.. you can search by urlType type in video shows only videos. resType to separate on each
      side.. in bookmarks not used so all show mixed together --}}
     
        <input type="hidden" name="urlType" value="video">
        <input type="hidden" name="resType" value="code">
     

        <label>picture<input type="hidden" name="urlType" value="picture"></label>
        <label>video<input type="hidden" name="urlType" value="video"></label>
        <label>weblink<input type="hidden" name="urlType" value="weblink"></label>
        <label>codepen<input type="hidden" name="urlType" value="codepen"></label>
        <label>replit<input type="hidden" name="urlType" value="replit"></label>
        <label>github<input type="hidden" name="urlType" value="github"></label>
        {{!-- for LANG --}}
        <label>code<input type="hidden" name="resType" value="code"></label>
        {{!-- for DEV --}}
        <label>dev<input type="hidden" name="resType" value="dev"></label>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>