
<div id="home">
<br>
<section>
<i class="openState"> Hey {{#if userInSession}}<b>{{userInSession.username}}</b>{{else}} Programmers{{/if}}! You searched hard g👀gled it.. don't risk losing it... now you can....</i> 
<br>
<br>
<center><img id="logoMain"  src="/images/yougleit.png" alt="logo"></center>
</section>

<section>
<center><h5>Why get lost in a sea of searches, browser bookmarks & files in folders all over your computer? <br> Store & search your favorite web resources & pics in one spot for your programming project needs.</h5></center>
</section>


<section class="flex-home-bottom" >
    <div class="home-bottom-item">
        <button style="margin-bottom: 1vw;" type="button" class="btn btn-danger red-btn dropdown-toggle-split">+</button>
        <h5><u>Add</u></h5>
        <p> Clearly personalize labels to your resources to know whats what!?! Add Pics, Weblinks & embedded Youtube videos. Coding - embedded Codepens & Repl it's. Development -  Github repos & fav users button </p>
    </div>

    <div class="home-bottom-item">
        <img src="/images/search.png" alt="search image">
        <h5><u>Resource Types</u></h5>
        <p> somthing about cards and codewars/gituser feature buttons .... your completed katas ready to open in tabs... with youtube videos, codepens & replit's embedded to reference straight from site ...or ya ...open too.</p>
    </div>

    <div class="home-bottom-item">
        <img src="/images/search.png" alt="search image">
        <h5><u>Search</u></h5>
        <p> somthing about search ....search with your own terms hashtags whatever.. can search "weblink" "picture" "video" "codepen" "replit" "github" for specific kind </p>
    </div>

    <div class="home-bottom-item">
        <img src="/images/bookmarked.png" alt="bookmark image">
        <h5><u>Bookmarks & Folders</u></h5>
        <p> Bookmark resources relevant to your current projects and must haves in one place. Clear and repeat for next or create folders for further convenience.</p>
    </div>

</section>

</div>
 

   


    {{!-- store and search your favorite web resources & pics for programming needs. Why let them get lost in a sea of browser bookmarks and files in folders all over your computer? Here you can clearly read whats what and reach in one spot. Your web links, fav github users & helpful repos & all your completed katas ready to open in tabs... with youtube videos, codepens & replit's embedded to reference straight from site ...or ya ...open too. Bookmark the ones relevant to your current project in one place then clear and repeat for next. you searched hard googled it.. dont risk losing it... now you can yoooogle it!... or yougle it!  --}}