<br>
<div id="home">

<section>
<h4><i class="openState"> Hey {{#if userInSession}}<b class="caps">{{userInSession.username}}</b>{{else}} Developers{{/if}}! You searched hard g👀gled it.. don't risk losing it... now you can....</i></h4>
<br>
<br>
<center><img id="logoMain"  src="/images/yougleit.png" alt="logo"></center>
</section>
<br>
<section>
    <center><h6 class="home-head">Why get lost in a sea of searches, browser bookmarks & files in folders all over your computer? <br><b class="caps">STORE SECURE SEARCH  you</b>r web resources & pictures in 1 spot. <b class="caps">SIMPLIFY you</b>r programming project process.</h6></center>
 </section>

    <section class="flex-home-bottom" >
        <div class="home-bottom-item">
            <button style="margin-bottom: 1vw;" type="button" class="btn btn-danger red-btn dropdown-toggle-split">+</button>
            <h5>Add</h5>
            <p><i>Your resources with personalized labeling to clearly know whats what!?! Add Pictures, Web Links, Github Repos & Users, embedded Youtube videos, Codepens & Replit's</i> </p>
        </div>

        <div class="home-bottom-item">
            <img src="/images/search.png" alt="search image">
            <h5>Search</h5>
            <p><i> Personalized labels = You can read it, you can search with it! <br> Or search "weblink" "picture" "video" "codepen" "replit" "repo" <br>To see all of a specific kind </i></p>
        </div>

        <div class="home-bottom-item">
            <img src="/images/bookmarked.png" alt="bookmark image">
            <h5>Bookmarks & Folders</h5>
            <p><i> Bookmark your favorites, your "must haves" & resources relevant to your current projects in one place. <br> Create folders! <br> For further convenience</i></p>
        </div>

        {{!-- </section> --}}
    </section>
</div>



