{{!-- for testing thi will all be in nav bar  seperatley --}}
<hr>
<h2>this will be in nav bar when finished</h2>
<hr>

<h5>PICK TYPE OF LANGUAGE RESOURCE TO ADD</h5>
{{!-- pic --}}
lang:<button class="img-btn"><a href="/languages/newPic"><img src="/images/camera.png" height="50px" alt="add picture"></a></button>
<br>
<br>
{{!-- web link --}}
lang:<button class="img-btn"><a href="/languages/newLink"><img src="/images/weblink.png" height="50px" alt="add web link"></a></button>
<br>
<br>
{{!-- vid --}}
lang:<button class="img-btn"><a href="/languages/newVid"> <img src="/images/youtube-button.png" height="50px" alt="add youtube video"></a></button>
<br>
<br>
{{!-- codepen --}}
lang:<button class="img-btn"><a href="/languages/newPen"><img src="/images/codepen.png" height="50px" alt="add codepen"></a></button>
<br>
<br>
{{!-- replit --}}
lang:<button class="img-btn"><a href="/languages/newReplit"><img src="/images/replit-logo.png" height="50px" alt="add replit"></a></button>

<hr>
<br>
<br>


{{!-- DEV --}}

<h5>PICK TYPE OF DEV RESOURCE TO ADD</h5>
{{!-- pic --}}
dev:<button class="img-btn"><a href="/dev/newPic"><img src="/images/camera.png" height="50px" alt="add picture"></a></button>
<br>
<br>

{{!-- web link --}}
dev:<button class="img-btn"><a href="/dev/newLink"><img src="/images/weblink.png" height="50px" alt="add web link"></a></button>
<br>
<br>

{{!-- vid --}}
dev:<button class="img-btn"><a href="/dev/newVid"><img src="/images/youtube-button.png" height="50px" alt="add youtube video"></a></button>
<br>
<br>

{{!-- git repo --}}
dev:<button class="img-btn"><a href="/dev/newGitRepo"><img src="/images/github-logo.png" height="50px" alt="add github repo"><br>Repo</a></button>
<br>
<br>

{{!-- git user --}}
dev:<button class="img-btn"><a href="/dev/newGitUser"><img src="/images/github-logo.png" height="50px" alt="add github user"><br>User</a></button>
<br>
<br>
