@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */
/* #0269D9*/
/* #0E46B3 */

/* #1B1395 */
/*#951B13*/
/* #13951B*/
/* #1c13951e */

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 4vw 5vw 0 5vw;
	height: 100vh;
}

.font-2{
	font-family: 'Press Start 2P', cursive;
}

h1.font-2{
	font-size: 2.5rem;
	color:#0269D9; 
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:  black;
 
}


a {
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.fixed{
	position: fixed;
}

.hide{
	display:none;
}



hr{
	background-color: #951B13;
	box-shadow: 1px 1px 5px 2px #951b13;
	-moz-box-shadow: 1px 1px 5px 2px #951b13;
	-webkit-box-shadow: 1px 1px 5px 2px #951b13;
	border-bottom: #951B13 1px solid;	
	border-radius: 50%;
}

.card a, .cw a{
	color:#1B1395;
	font-weight: 600;
}

.card-body a:hover{
	zoom: 1.1;
}



.red-txt{
	color: #951B13;
}

.caps{
	text-transform: uppercase;
}

/* buttons */
.red-btn{
	background-color: #951B13;
	color: white;
}
.red-btn:hover, .red-btn a:hover, .folderTxt:hover{
	color: #1B1395;
	font-weight: bold;
}

.blue-btn{
	background-color: #1B1395;
	color: white;
}


.blue-btn:hover, .blue-btn a:hover {
	color: #13951B;
	background-color: #0E46B3;
}


.none-btn{
	border: none;
	background: none;
}

.none-btn img:active{
	zoom: 1.1;
}


/* #1B1395 */
/*#951B13*/
/* #13951B*/

/* headers */
.head{
	background-color: #13951B;
	color: #1B1395;
	width: fit-content;
  font-weight: 600;
  transform: skew(9deg,0deg);
  font-style: italic;
  padding: 0px 40px;
  margin: 0;
	box-shadow: 0px 0px 6px 3px #13951b;
	-moz-box-shadow: 0px 0px 6px 3px #13951b;
	-webkit-box-shadow:0px 0px 6px 3px #13951b;
	border-radius: 5px;
}

.bmHead{
	padding-top: 10px;
	padding-bottom: 10px;
}

/* NAV */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;	
	color: white;
	background-color: #1B1395;
	height: 4vw;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5vw;
	z-index: 3;	
	border-top: 1px solid #13951B;
	border-bottom-left-radius: 25px;
	-moz-box-shadow:  inset 6px 2px 3px 0px #13951b, 3px 4px 4px 2px #13951b; 
	-webkit-box-shadow:  inset 6px 2px 3px 0px #13951b, 3px 4px 4px 2px #13951b; 
	box-shadow: inset 6px 2px 3px 0px #13951b, 3px 4px 4px 2px #13951b; 
}


.dropdown-item {
	display: flex;
	align-items: center;
	justify-content: center;
}


.dropdown-toggle::after {
	display: none;
}

.git-drop:hover{
	background: none;
}


/* homepage */

#logoMain{
	width: 50vw;	
}


#home{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 90vh;
}

.flex-home-bottom{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}

.home-head{
	border: #951B13 solid 2px;
	box-shadow:2px 2px 3px #951B13;
	-moz-box-shadow: 2px 2px 3px #951B13;
	-webkit-box-shadow: 2px 2px 3px #951B13;
	background-color: #1B1395;
	width: fit-content;
	border-radius: 10px;
	line-height: 1.5;
	padding: 0.8vw;
	color: white;
	margin-bottom: 1.5em;
	transform: skew(9deg,0deg);
  font-style: italic;
	font-size: 1.1rem;
}




.home-bottom-item{
	width: 28%;
	margin-right: 1vw;
	border: 2px solid #13951B;
	box-shadow:1px 2px 3px #13951B;
	-moz-box-shadow: 1px 2px 3px #13951B;
	-webkit-box-shadow: 1px 2px 3px #13951B;
	border-radius: 5%;
	line-height: 1.7;
	padding: 1vw;
	background-color:#1c13951e;
	text-align: center;

	height:fit-content;

}

.home-bottom-item img{
	height: 38px;
	margin-bottom: 1vw;
}

.home-bottom-item h5{
	text-transform: uppercase;
	font-weight: 800;
}

.home-bottom-item p{

}





/* CARDS */

.card-footer, .card-header{
	background-color:#1c13951e;
	
}

.card-header.folder{
	background-color:#1c13951e;
	border-radius: 5px;
	/* justify-content: space-around; */
}

.card-header h5{
	color: #1B1395;
	font-family: 'Press Start 2P'; 

}
.card-header h5 i{
	color: black;
}

.card-footer{
	border-top: #13951B 1px solid;
}

.card{
	border: #13951B 1px solid;
}

.bottomCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;	
	border-bottom: #13951B 1px solid;
}

.resImg {
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 250px;
}

.resImg:hover {
	transition: transform 0.2s; 
	margin: 0 auto;
	transform: scale(1.7); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	z-index: 2;
}


/* BOOKMARKS & FOLDERS */


.folderTxt {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size:100%;
	text-align: center;
	font-weight: bold;
	color: white;
}

.folders-container{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4em;
}

.folders-item{
	display: flex;
	flex-direction: row;
	width: 34vw;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 2rem;
	align-items: center;
}



.folds{
	font-weight: 600;
	color: black;
}

.fa-check-square{
	color: red;
	font-size: 2.5em;
}


/* #1B1395 */
/*#951B13*/
/* #13951B*/
/* #1c13951e */

/* FORMS */

.form-all{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-page{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 88vh;
}

.form-icon-flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.add-form{
	display: flex;
	flex-direction: column;
	border: 2px solid   #13951B;
	background-color: #1B1395;
	border-radius: 20px;
	padding: 25px;
	align-items: center;
	color: white
}

.add-form .btn{
	background-color: white;
	color: #1B1395;
	border-radius: 5px;
}

.add-form .btn:hover{
border:2px solid  #13951B;
font-weight: bold;
}

.form-icon{
height: 15vw;
}


.form-row{
	width: 35vw;
}


.add-form .form-group {
	width: 90%;
}

.add-form .form-group label {
	width: 100%;
	position: relative;
	line-height: 1.5;
}

.add-form .form-group label i {
	position: absolute;
	right: 0;
}


.add-form input.form-control, .add-form textarea.form-control{
	color: black;
	border-radius: 1.25rem;
}






/* login */

.log-icon-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* code wars */
.cw-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cw{
	border: #13951B 2px solid;
	padding: 8px;
	margin: 5px;
	border-radius: 5px;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: #1c13951e;
}

