<br>
<div class="form-page">
<center><h3>NEW Development Resource</h3></center>

  <div class="form-icon-flex">
    <img class="form-icon" src="/images/camera.png" alt="camera icon">

    <div class="row form-row">
      <div class="col-md-12">
        <form  class="add-form" action="/dev/newPic/add" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label> Main Topic:
              <input class="form-control" type="text" name="lang">
            </label>
            <i>*required</i>
          </div>
          <div class="form-group">
            <label> Sub Topic:
              <input type="text" name="topic" class="form-control">
            </label>
          </div>
          <div class="form-group">
            <label>Resource Title:
              <input type="text" name="title" class="form-control" />
            </label>
            <i>*required</i>
          </div>
          <div class="form-group">
            <label> Description/Keywords/#hashtags:
              <textarea class="form-control" name="description" cols="30" rows="4"></textarea>
            </label>
          </div>
          <div class="form-group">
            <label> Image:
              <input type="file" name="image" class="form-control-file"/>
            </label>
            <br>
            {{#if errorImg}}
            <i style="color: red">*{{errorImg}}</i>
            {{else}} <i>*image JPEG/PNG/SVG/GIF/...(up to 10MB)</i>
            {{/if}} 
          </div>
          <input type="hidden" name="urlType" value="picture">
          <input type="hidden" name="resType" value="dev">
          <br>
          <button type="submit" class="btn btn-primary">ADD RESOURCE</button>
          <br>
          {{#if errorMessage}}
          <i style="color: red"> *{{errorMessage}}</i>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>