<h2>EDIT RESOURCE INFO</h2>

<div class="row">
  <div class="col-md-6">
    <form action="/{{foundCode.id}}/edit" method="POST">
      <div class="form-group">
        <label> Repo Topic:
          <input required class="form-control" type="text" name="lang" value="{{foundCode.lang}}">
        </label>
      </div>
      <div class="form-group">
        <label> Description/Languages/Keywords:
          <textarea class="form-control" name="description" cols="30" rows="4">{{foundCode.description}}</textarea>
        </label>
      </div>
      <div class="form-group">
      <input type="hidden" name="referer" value="{{referer}}">
      </div>
      <button type="submit" class="btn btn-primary">UPDATE</button>
</div>