<hr>
<h2>Edit Folder</h2>

{{!-- add resource info once figure out code --}}
<div>
  <form action="/bookmarks/folder/{{folder._id}}/edit" method="post" class="form-group">
    <div class="form-group ">
      <label> Folder Name:
      <input type="text" name="name" value="{{folder.name}}" class="form-control form-control">
      </label>
    </div>
    <button type="submit" class="btn btn-primary">UPDATE</button>
  </form>
</div>